<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="HelloWCF">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.150.131:8000/WCFSampleService/HelloWCF"
        binding="netTcpBinding" bindingConfiguration="HelloWCF" contract="WCFSampleService.IMyService"
        name="HelloWCF" />
    </client>
  </system.serviceModel>
</configuration>