<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings />
    <behaviors />
    <services>
      <service name="Gsf.Samples.WCF.MyService">
        <endpoint address="HelloWCF" binding="netTcpBinding" bindingConfiguration=""
          name="HelloWCF" contract="Gsf.Samples.WCF.IMyService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.150.1:8000/WCFSampleService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>