<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WCFSampleServiceBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFSampleServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://192.168.150.131:8733/WCFSampleService" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WCFSampleServiceBehavior" name="Gsf.Samples.WCF.MyService">
        <clear />
        <endpoint address="net.tcp://192.168.150.131:8000/WCFSampleService/HelloWCF" binding="netTcpBinding" bindingConfiguration="WCFSampleServiceBinding"
          name="HelloWCF" contract="Gsf.Samples.WCF.IMyService" />
        <endpoint address="net.tcp://192.168.150.131:8000/WCFSampleService/mex" binding="mexTcpBinding" name="WCFSampleServicemex"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.150.1:8000/WCFSampleService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>