<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="Gsf.Samples.WCF.MyService">
        <clear />
        <endpoint address="net.tcp://192.168.150.1:8087/WCFSample007/MyService" binding="netTcpBinding" contract="Gsf.Samples.WCF.IMyService" />
        <endpoint address="http://localhost:8733/WCFSample007/MyService/mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>